.item {
  display: flex;
  background-color: white;
  width: 200px;
  align-items: center;
  gap: 12px;
  padding: 8px;
  box-shadow: -5px 4px 9px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}
.status {
  display: block;
  width: 8px;
  height: 8px;
  /* background-color: green; */
  border-radius: 50%;
}

.green {
  background-color: green;
}
.red {
  background-color: red;
}
